* {
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
    color: #444;
    font-family: "Poppins", sans-serif;
    margin: 0;
    min-height: 100vh;
}

#bg {
    background-color: aqua;
    height: 85vh !important;
    justify-content: center;
    align-items: center;
    background-image: url("AdobeStock_312976945.jpeg");
    background-size: cover;
    background-position: center bottom;
}

main h1 {
    color: gray;
}

main p {
    color: gray;
}

.fs-4 {
    font-weight: bold;
}

a.nav-link.active {
    background-color: #003b70 !important;
}

.opis-zdjecia {

}
